{% capture logo_path %}{{ site.logo }}{% endcapture %}

<div class="masthead">
    <!-- Small navbar -->
    {% include small-navbar.html %}
    
    <div class="masthead__inner-wrap">
        <div class="masthead__menu">
            <nav id="site-nav" class="greedy-nav">
                {% unless logo_path == empty %}
                    <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.masthead_title | default: site.title }}"></a>
                {% endunless %}
                <ul class="visible-links">
                    {%- for link in site.data.navigation.main -%}
                        <li class="masthead__menu-item">
                            <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
                        </li>
                    {%- endfor -%}
                </ul>
    
                <!-- Botón Solicita Información -->
                <button class="btn btn--secondary" onclick="window.location.href='/contacto/'" style="margin-left: 1em;">Solicita Información</button>
                
                {% if site.search == true %}
                <button class="btn btn--primary search__toggle" type="button">
                    <span class="visually-hidden">{{ site.data.ui-text[site.locale].search_label | default: "Toggle search" }}</span>
                    <i class="fas fa-search"></i>
                </button>
                {% endif %}
                <button class="btn btn--primary greedy-nav__toggle hidden" type="button">
                    <span class="visually-hidden">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle menu" }}</span>
                    <div class="navicon"></div>
                </button>
                <ul class="hidden-links hidden">
                    {%- for link in site.data.navigation.main -%}
                        <li class="masthead__menu-item">
                            <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
                        </li>
                    {%- endfor -%}
                    <li class="masthead__menu-item">
                        <button class="btn btn--secondary" onclick="window.location.href='/contacto/'">Solicita Información</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<style>
    /* Styles for the small navbar */
    .small-navbar {
        background-color: #a8a5ac;
        padding: 3px 0; /* Reduced height */
        border-bottom: 1px solid #e1e1e1;
        width: 100%; /* Ensure it takes the full width */
    }
    
    .small-navbar-inner {
        display: flex;
        justify-content: space-between; /* Separate left and right containers */
        max-width: 1380px; /* Constrain max width */
        margin: 0 auto 2px; /* Center the navbar horizontally */
    }
    
    .small-navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    .small-navbar-left,
    .small-navbar-right {
        display: flex;
        align-items: center;
    }
    
    .small-navbar ul li {
        display: inline;
        margin: 0 10px; /* Adjust margin if needed */
    }
    
    .small-navbar ul li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 14px; /* Adjust font size if needed */
        transition: color 0.3s; /* Smooth transition for color change */
    }
    
    .small-navbar ul li a:hover {
        color: #ededed; /* Change color on hover */
    }
    
    /* Main navbar adjustments */
    #site-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #site-nav .visible-links {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    #site-nav .visible-links .masthead__menu-item a {
        text-decoration: none;
        color: #333; /* Adjust link color */
        font-size: 16px; /* Adjust font size */
        transition: color 0.3s; /* Smooth transition for color change */
    }
    
    #site-nav .visible-links .masthead__menu-item a:hover {
        color: #666; /* Change color on hover */
    }
    
    /* Hide navigation items and "Solicita Información" button on smaller screens */
    @media screen and (max-width: 768px) {
        #site-nav .visible-links {
            display: none;
        }
        
        #site-nav .btn--secondary {
            display: none;
        }
        
        .greedy-nav__toggle {
            display: none;
        }
        
        .hidden-links {
            display: none;
            list-style-type: none;
            padding: 0;
        }
        
        .hidden-links.show {
            display: block;
        }
    }
</style>

<script>
    // JavaScript to toggle hidden links visibility
    document.addEventListener('DOMContentLoaded', function() {
        const toggleButton = document.querySelector('.greedy-nav__toggle');
        const hiddenLinks = document.querySelector('.hidden-links');
        
        // Initially hide the toggle button if visible links are present
        if (document.querySelector('.visible-links').children.length > 0) {
            toggleButton.classList.add('hidden');
        }
        
        toggleButton.addEventListener('click', function() {
            hiddenLinks.classList.toggle('show');
        });
    });
</script>
