<nav class="small-navbar">
    <div class="small-navbar-inner">
        <div class="small-navbar-left">
            <ul>
                <li><a href="https://japonformacion.netlify.app/contacto/">Contacto</a></li>
                <li><a href="#link2">Noticias</a></li>
            </ul>
        </div>
        <div class="small-navbar-right">
            <ul>
                <li><a href="https://www.instagram.com/grupojapon?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" rel="nofollow noopener noreferrer"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                <li><a href="https://www.facebook.com/GrupoJaponOficial/?locale=es_ES" rel="nofollow noopener noreferrer"><i class="fab fa-facebook-square" aria-hidden="true"></i></a></li>
                <li><a href="https://app.grupojapon.es/">Empleados</a></li>
                <li><a href="https://formacion.grupojapon.es/">Aula Virtual</a></li>
            </ul>
        </div>
    </div>
</nav>
